archive.zip
Pyton_Files/Exercise Files/Ch4/textfile.txt
textfile.txt.bak
testzip.zip
Pyton_Files/murach/exercises/ch10/__pycache__/wordlist.cpython-36.pyc
Pyton_Files/murach/exercises/ch14/dice_roller/__pycache__/dice.cpython-36.pyc